.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/background1-1500w.jpg");
}
.home-main {
  flex: 1;
  width: 700px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0px;
}
.home-body {
  flex: 1;
  max-width: 700px;
}
.home-image {
  width: 100%;
  object-fit: cover;
}
.home-image1 {
  width: 100%;
  object-fit: cover;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.home-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text2 {
  font-weight: 600;
}
.home-link {
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-link:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.home-image2 {
  width: 100%;
  object-fit: cover;
}
@media(max-width: 991px) {
  .home-main {
    height: 1789px;
  }
  .home-text {
    text-align: center;
  }
  .home-image2 {
    width: 100%;
    border-radius: var(--dl-radius-radius-radius4);
  }
}
@media(max-width: 767px) {
  .home-main {
    padding-bottom: unset;
  }
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-container {
    padding-top: 0px;
  }
  .home-main {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .home-body {
    width: 100%;
  }
  .home-max-width {
    max-width: 100%;
    min-width: 100%;
  }
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-image2 {
    width: 100%;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
  }
}
